.mainContainerHeader{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainContainerHeader > .title{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  
}
.mainContainerHeader > .title > h1{
  text-align: center;
  font-size: 36px;
}

.mainContainerHeader > .form{
  display: flex;
  flex-direction: column;
  width: 80%;
  
}

.mainContainerHeader > .form > .containerBoton{
  display: flex;
  justify-content: center;
}

.mainContainerHeader > .form > .boton{
  width: 50%;
}